### 1. Importa√ß√£o de Bibliotecas
Realize a importa√ß√£o da biblioteca pandas.

In [1]:
### importando a biblioteca pandas
import pandas as pd

### 2. Importa√ß√£o da Base de Dados

Importe o arquivo 'Tabela_Clubes.csv' o transforme em um dataframe e mostre as informa√ß√µes.

In [2]:
### carregando o arquivo CSV em um DataFrame
df = pd.read_csv('Tabela_Clubes.csv')
### mostrando as informa√ß√µes gerais do DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Ano            200 non-null    int64
 1   Pos.           200 non-null    int64
 2   Clubes         200 non-null    object
 3   Vitorias       200 non-null    int64
 4   Derrotas       200 non-null    int64
 5   Empates        200 non-null    int64
 6   GolsF/S        200 non-null    object
 7   Saldo          200 non-null    int64
 8   Qtd_Jogadores  200 non-null    int64
 9   Idade_Media    200 non-null    object
 10  Estrangeiros   200 non-null    int64
 11  Valor_total    200 non-null    int64
 12  Media_Valor    200 non-null    int64
 13  Unnamed: 13    1 non-null      float64
 14  Unnamed: 14    1 non-null      float64
 15  Unnamed: 15    1 non-null      object
 16  Unnamed: 16    1 non-null      float64
dtypes: float64(3), int64(10), object(4)
memory usage: 26.7+ KB

### 3. Mostre as primeiras linhas do DataFrame

In [3]:
### mostrando as primeiras linhas do DataFrame
df.head(10)

,Ano,Pos.,Clubes,Vitorias,Derrotas,Empates,GolsF/S,Saldo,Qtd_Jogadores,Idade_Media,Estrangeiros,Valor_total,Media_Valor,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,2017,18,America-MG,10,10,18,30:47,-17,51,"24,8",0,27350000,536000,NaN,NaN,NaN,NaN
1,2017,7,Athletico-PR,16,9,13,54:37,17,52,24,3,37650000,724000,NaN,NaN,NaN,NaN
2,2017,6,Atletico-MG,17,8,13,56:43,13,50,"23,4",6,61350000,1230000,NaN,NaN,NaN,NaN
3,2017,11,Bahia,12,12,14,39:41,-2,48,"23,2",2,34900000,727000,NaN,NaN,NaN,NaN
4,2017,9,Botafogo,13,12,13,38:46,-8,45,"23,1",4,25550000,568000,NaN,NaN,NaN,NaN
5,2017,15,Ceara,10,14,14,32:38,-6,54,26,2,26950000,499000,NaN,NaN,NaN,NaN
6,2017,14,Chapecoense,11,11,16,34:50,-16,52,"24,8",5,32030000,616000,NaN,NaN,NaN,NaN
7,2017,13,Corinthians,11,11,16,34:35,-1,54,"24,3",6,61400000,1140000,NaN,NaN,NaN,NaN
8,2017,8,Cruzeiro,14,11,13,34:34,0,51,24,5,62250000,1220000,NaN,NaN,NaN,NaN
9,2017,2,Flamengo,21,9,8,59:29,30,48,"23,8",7,67380000,1400000,NaN,NaN,NaN,NaN

### 4. Removendo Colunas sem informa√ß√µes.

In [4]:
### Se observamos bem, podemos ver que temos quatro colounas sem nome e sem informa√ß√µes, ou seja valores nulos
### removendo as colunas sem nome
df = df.drop(columns=['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'])
### mostrando as informa√ß√µes gerais do DataFrame ap√≥s a remo√ß√£o das colunas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Ano            200 non-null    int64
 1   Pos.           200 non-null    int64
 2   Clubes         200 non-null    object
 3   Vitorias       200 non-null    int64
 4   Derrotas       200 non-null    int64
 5   Empates        200 non-null    int64
 6   GolsF/S        200 non-null    object
 7   Saldo          200 non-null    int64
 8   Qtd_Jogadores  200 non-null    int64
 9   Idade_Media    200 non-null    object
 10  Estrangeiros   200 non-null    int64
 11  Valor_total    200 non-null    int64
 12  Media_Valor    200 non-null    int64
dtypes: int64(10), object(3)
memory usage: 20.4+ KB

### 5. Quais os times aparecem na tabela e quantas vezes cada um aparece?

In [5]:
### vamos ver quais os times aparecem na tabela e quantas vezes cada um aparece
df.count()

Ano              200
Pos.             200
Clubes           200
Vitorias         200
Derrotas         200
Empates          200
GolsF/S          200
Saldo            200
Qtd_Jogadores    200
Idade_Media      200
Estrangeiros     200
Valor_total      200
Media_Valor      200
dtype: int64

### 6. Quantos times diferentes temos no DataFrame?

In [6]:
### vamos contar o total de times √∫nicos na tabela
df['Clubes'].unique()

array(['America-MG', 'Athletico-PR', 'Atletico-MG', 'Bahia', 'Botafogo',
       'Ceara', 'Chapecoense', 'Corinthians', 'Cruzeiro', 'Flamengo',
       'Fluminense', 'Gremio', 'Internacional', 'Palmeiras', 'Parana',
       'Santos', 'Sao Paulo', 'Sport', 'Vasco', 'Vitoria', 'Atletico-GO',
       'Avai', 'Coritiba', 'Ponte Preta', 'Figueirense', 'Santa Cruz',
       'Goias', 'Joinville', 'Criciuma', 'Nautico', 'Portuguesa',
       'Guarani', 'Prudente', 'Santo Andre'], dtype=object)

### 7. Quais os anos que aparecem no DataFrame?

In [7]:
### vamos ver quais anos aparecem na tabela
df['Ano'].unique()
### vamos ordenar os anos de forma crescente

array([2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008])

### 8. Quais os campe√µes de cada ano?

In [ ]:
### vamos verificar os campe√µes de cada ano e ordenar por ano
campeoes = df[df['Pos.']== 1][['Ano', 'Clubes']].sort_values(by='Ano')
print(campeoes)

      Ano       Clubes
187  2008     Flamengo
169  2009   Fluminense
148  2010  Corinthians
129  2011   Fluminense
107  2012     Cruzeiro
88   2013     Cruzeiro
64   2014  Corinthians
53   2015    Palmeiras
27   2016  Corinthians
13   2017    Palmeiras

### 9. Qual o time que foi mais vezes campe√£o?

In [10]:
### qual time apareceu mais vezes como campe√£o?
df[df['Pos.']==1]

,Ano,Pos.,Clubes,Vitorias,Derrotas,Empates,GolsF/S,Saldo,Qtd_Jogadores,Idade_Media,Estrangeiros,Valor_total,Media_Valor
13,2017,1,Palmeiras,23,11,4,64:26,38,48,"24,8",4,88330000,1840000
27,2016,1,Corinthians,21,9,8,50:30,20,41,"23,4",3,49500000,1210000
53,2015,1,Palmeiras,24,8,6,62:32,30,38,"25,9",4,69950000,1840000
64,2014,1,Corinthians,24,9,5,71:31,40,36,"24,8",4,52850000,1470000
88,2013,1,Cruzeiro,24,8,6,67:38,29,32,"25,7",4,41950000,1310000
107,2012,1,Cruzeiro,23,7,8,77:37,40,44,"24,4",1,15100000,343000
129,2011,1,Fluminense,22,11,5,61:33,28,40,"22,8",4,44200000,1110000
148,2010,1,Corinthians,21,8,9,53:36,17,51,"23,6",4,69700000,1370000
169,2009,1,Fluminense,20,11,7,62:36,26,50,"23,5",4,42950000,859000
187,2008,1,Flamengo,19,10,9,58:44,14,35,"23,3",4,50400000,1440000

### 10. Agora uma piada üòÑ, quais times paulistas n√£o aparecem nenhuma vez como campe√£o?

Responda com um print

In [13]:
### seu c√≥digo aqui
todos_os_times = set(df['Clubes'].unique())

todos_os_campeoes = set(df[df['Pos.']==1]['Clubes'].unique())

times_nao_campeoes = todos_os_times- todos_os_campeoes
for time in sorted(list(times_nao_campeoes)):
    print(time)

America-MG
Athletico-PR
Atletico-GO
Atletico-MG
Avai
Bahia
Botafogo
Ceara
Chapecoense
Coritiba
Criciuma
Figueirense
Goias
Gremio
Guarani
Internacional
Joinville
Nautico
Parana
Ponte Preta
Portuguesa
Prudente
Santa Cruz
Santo Andre
Santos
Sao Paulo
Sport
Vasco
Vitoria

### 11. Qual o time com mais derrotas?

In [16]:
### qual o time com mais derrotas?
df.loc[df['Derrotas'].idxmax()]

### mostrando todas as informa√ß√µes do time com mais derrotas

Ano                     2012
Pos.                      10
Clubes           Corinthians
Vitorias                  11
Derrotas                  17
Empates                   10
GolsF/S                27:22
Saldo                      5
Qtd_Jogadores             57
Idade_Media             22,7
Estrangeiros               3
Valor_total         36000000
Media_Valor           632000
Name: 104, dtype: object

### 12. Qual o time com menos derrotas?

In [17]:
### qual o time com menos derrotas?




### mostrando todas as informa√ß√µes do time com menos derrotas
df.loc[df['Derrotas'].idxmin()]

Ano                    2010
Pos.                      3
Clubes           Fluminense
Vitorias                 20
Derrotas                  3
Empates                  15
GolsF/S               60:51
Saldo                     9
Qtd_Jogadores            51
Idade_Media            23,9
Estrangeiros              6
Valor_total        60650000
Media_Valor         1190000
Name: 153, dtype: object

### 13. Qual o time com maior n√∫mero de estrangeiros?

In [21]:
### qual o time com maior n√∫mero de estrangeiros?
df.loc[df['Estrangeiros'].idxmax()]

### mostrando todas as informa√ß√µes do time com mais estrangeiros

Ano                  2014
Pos.                   12
Clubes           Flamengo
Vitorias               15
Derrotas                4
Empates                19
GolsF/S             45:53
Saldo                  -8
Qtd_Jogadores          36
Idade_Media          24,3
Estrangeiros            8
Valor_total      34450000
Media_Valor        957000
Name: 68, dtype: object

### 14. qual o time com o menor n√∫mero de estrangeiros?

In [19]:
### qual o time com menor n√∫mero de estrangeiros?
df.loc[df['Estrangeiros'].idxmin()]

Ano                    2017
Pos.                     18
Clubes           America-MG
Vitorias                 10
Derrotas                 10
Empates                  18
GolsF/S               30:47
Saldo                   -17
Qtd_Jogadores            51
Idade_Media            24,8
Estrangeiros              0
Valor_total        27350000
Media_Valor          536000
Name: 0, dtype: object

### 15. B√¥nus

Vamos criar um gr√°fico que mostre os maiores campe√µes presentes nessa base de dados

In [20]:
import matplotlib.pyplot as plt

# Vamos criar um gr√°fico de barras para visualizar os times com mais t√≠tulos
titulos = campeoes['Clubes'].value_counts()

plt.figure(figsize=(14, 8))
bars = plt.bar(titulos.index, titulos.values, 
               color=['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728', '#9467bd', 
                      '#8c564b', '#e377c2', '#7f7f7f', '#bcbd22', '#17becf'],
               edgecolor='black', linewidth=0.5, alpha=0.8)

# Adicionar os valores em cima de cada barra
for bar in bars:
    height = bar.get_height()
    plt.text(bar.get_x() + bar.get_width()/2., height + 0.05,
             f'{int(height)}', ha='center', va='bottom', fontsize=10, fontweight='bold')

plt.title('Times com Mais T√≠tulos', fontsize=16, fontweight='bold', pad=20)
plt.xlabel('Clubes', fontsize=12, fontweight='bold')
plt.ylabel('N√∫mero de T√≠tulos', fontsize=12, fontweight='bold')

# Ajustar a escala do eixo Y de 0 a 3
plt.ylim(0, 3)

# Melhorar a apar√™ncia dos eixos
plt.xticks(rotation=0, ha='right')
plt.yticks(range(0, 4))  # Apenas n√∫meros inteiros de 0 a 3

# Adicionar grid para melhor leitura
plt.grid(axis='y', alpha=0.3, linestyle='--')

# Ajustar layout para evitar cortes
plt.tight_layout()

# Mostrar o gr√°fico
plt.show()

NameError: name 'campeoes' is not defined